* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
  
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../img/fundo_quadra_login.png);
    background-size: cover;
}

.container_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 330px;
}

.card_login{
display: flex;
color: white;
width: 350px;
padding: 15px;
flex-direction: column;
justify-content: flex-end;



}  

img{
    width: 500px;
}

a{
     text-decoration: none;
     color:rgb(197, 95, 0) ;
     font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  
}
.a_opcoes{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 5px;
}

input{
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    border: solid 2px rgb(197, 95, 0) ;
    background-color: #262826 ;
    color: white;
    font-weight: border;
}
.button_entrar{
    display: flex;
    width: 130px;
    height: 35px;
    margin-right: 35px;
    margin-top: 5px ;
    background-color:rgb(197, 95, 0);
    border: none;
    border-radius: 10px;
    align-items: center;
}

.button_entrar:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: solid 2px rgb(197, 95, 0) ;
}
