* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
  

}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}
.nav_a{
  text-decoration: none;
  color: white;
  font-weight: border;
  
  
    

}


.primeiro_bloco{
    background-image: url(../img/backgroud_quadra.png);
    color: white;
   width: 100%;
    padding: 350px;

}

.buttons{
    display: flex;
    flex-direction: row;
}

.button_jogar{
    display: flex;
    width: 150px;
    padding: 15px;
    background-color: rgb(197, 95, 0);
    color: white;
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;

}

.button_jogar:hover{
    background-color: black;
    color: white;
     transition: 0.5s;

}

.button_conheca{
    display: flex;
    width: 150px;
    padding: 15px;
    background-color:black;
    color: white;
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    margin-left: 35px;
    font-size: 15px;
    font-weight: bolder;
}
.button_conheca:hover{
    background-color: rgb(197, 95, 0);
    color: white;
     transition: 0.5s;
}

.segundo_bloco{
    display: flex;
    background-color: black;
    color: white;
    padding: 50px;
}
.button_segundo_bloco{
    display: flex;
    width: 150px;
    padding: 15px;
    background-color: rgb(197, 95, 0);
    color: white;
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.button_segundo_bloco:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.fotos_jogador{
    margin-left: 45px;
}

.terceiro_bloco{
    background-color: black;
    color: white;
    padding: 25px;
}

.cards_pai{
    display: flex;
    background-color: black;
    padding: 45px;
    color: white;
    flex-direction: row;
    gap: 25px;
    
}

.card_1{
    background-color: rgb(197, 95, 0);
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 20px;
    padding: 10px;
}
.card_1:hover{
background-color: black;
transition: 1s;
}
.card_2{
    background-color: rgb(197, 95, 0);
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 20px;
    padding: 10px;
}
.card_2:hover{
background-color: black;
transition: 1s;
}

.card_3{
    background-color: rgb(197, 95, 0);
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 20px;
    padding: 10px;
}
.card_3:hover{
background-color: black;
transition: 1s;
}
.card_4{
    background-color: rgb(197, 95, 0);
    border: 2px solid rgb(197, 95, 0) ;
    border-radius: 20px;
    padding: 10px;
}
.card_4:hover{
background-color: black;
transition: 1s;
}


